*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62%; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.2%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }

body {
  box-sizing: border-box; }

@keyframes fadeToRight {
  0% {
    opacity: 0;
    transform: translateX(-20%); }
  50% {
    transform: translateX(2%);
    opacity: .8; } }

@keyframes fadeToLeft {
  0% {
    opacity: 0;
    transform: translateX(20%); }
  50% {
    transform: translateX(-2%);
    opacity: .8; } }

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30%); }
  50% {
    transform: translateY(-2%);
    opacity: .8; } }

body {
  font-family: 'Lato', sans-serif;
  /* font-size: 16px; */
  font-weight: 400;
  line-height: 1.6;
  color: #666;
  padding: 3rem; }
  @media screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

.heading-secondary {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  background: linear-gradient(to right, #55c57a, #02b635);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  transition: .3s all; }
  .heading-secondary:hover {
    transform: skewX(-15deg) skewY(-5deg) scale(1.1);
    text-shadow: 5px 15px 20px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 4rem; } }
  @media screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }

a {
  text-decoration: none; }

.heading-tercery {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700; }

.paragraph {
  display: inline-block;
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-text-center {
  text-align: center; }

.u-mb-xs {
  margin-bottom: 1rem; }

.u-mb-small {
  margin-bottom: 2rem; }

.u-mb-medium {
  margin-bottom: 3rem; }

.u-mb-large {
  margin-bottom: 8rem; }
  @media screen and (max-width: 56.25em) {
    .u-mb-large {
      margin-bottom: 4rem; } }

.u-mt-xs {
  margin-top: 1rem; }

.u-mt-small {
  margin-top: 3rem; }

.u-mt-medium {
  margin-top: 4rem; }

.u-mt-large {
  margin-top: 8rem; }

.u-position-relative {
  position: relative; }

.u-center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.btn:link, .btn, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  transition: .2s all;
  position: relative;
  font-size: 1.5rem;
  border: none;
  cursor: pointer; }

.btn:link:hover, .btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.387); }

.btn:link:active, .btn:link:focus, .btn:active, .btn:focus {
  transform: translateY(0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.211); }

.btn::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  transition: .4s all;
  z-index: -1; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn-white {
  background: #fff;
  color: #666; }
  .btn-white::after {
    background: #fff; }

.btn-fade-up {
  animation: fadeUp 1.5s ease-in-out .5s;
  animation-fill-mode: backwards; }

.btn-green {
  background: #02b635;
  color: #fff; }
  .btn-green::after {
    background: #02b635; }

.btn-text:link, .btn-text:visited {
  display: inline-block;
  font-size: 1.6rem;
  color: #02b635;
  padding: 6px;
  text-decoration: none;
  border-bottom: 2px solid #02b635;
  transition: .2s all; }

.btn-text:hover {
  background: #02b635;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.211); }

.btn-text:active {
  transform: translateY(-5px); }

.composition {
  position: relative; }
  @media screen and (max-width: 56.25em) {
    .composition {
      margin-top: 6rem; } }
  .composition__photo {
    width: 55%;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.5);
    position: absolute;
    padding: 0;
    border-radius: 2px;
    outline-offset: 1rem;
    cursor: pointer;
    transition: .3s all;
    z-index: 10; }
    @media screen and (max-width: 56.25em) {
      .composition__photo {
        position: relative;
        width: 33.3333%;
        float: left; } }
    .composition__photo-p1 {
      top: -2rem;
      left: 0rem; }
      @media screen and (max-width: 56.25em) {
        .composition__photo-p1 {
          top: 0;
          transform: scale(1.5); } }
    .composition__photo-p2 {
      top: 2rem;
      right: -2rem; }
      @media screen and (max-width: 56.25em) {
        .composition__photo-p2 {
          top: -3rem;
          right: 0;
          transform: scale(1.3);
          z-index: 15; } }
    .composition__photo-p3 {
      top: 16rem;
      left: 20%; }
      @media screen and (max-width: 56.25em) {
        .composition__photo-p3 {
          top: 0;
          left: 0;
          transform: scale(1.5); } }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(5px);
      box-shadow: 0rem 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20; }
      @media screen and (max-width: 56.25em) {
        .composition__photo:hover {
          transform: scale(1.3); } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.card {
  height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  cursor: pointer; }
  .card__side {
    transition: .8s all ease;
    position: absolute;
    height: 52rem;
    backface-visibility: hidden;
    width: 100%;
    border-radius: .5rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    overflow: hidden; }
    .card__side--front {
      background: #fff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #a35fca, #661396); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ff7300, #e6a904); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #94adff, #191cdf); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    -webkit-background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(#a35fca, #661396), url("../img/nat-1.jpg"); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #ff7300, #e6a904), url("../img/nat-2.jpg"); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #5576e4, #191cdf), url("../img/nat-3.jpg"); }
  .card__header {
    position: absolute;
    top: 15rem;
    right: 2rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    text-align: right;
    width: 70%; }
  .card__span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone; }
    .card__span-1 {
      background-image: linear-gradient(#a35fca, #661396), url("../img/nat-1.jpg"); }
    .card__span-2 {
      background-image: linear-gradient(to right bottom, #ff7300, #e6a904), url("../img/nat-2.jpg"); }
    .card__span-3 {
      background-image: linear-gradient(to right bottom, #5576e4, #191cdf), url("../img/nat-3.jpg"); }
  .card__details {
    padding: 3rem; }
    .card__details--list {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details--list-item {
        text-align: center;
        padding: 1rem;
        font-size: 1.4rem; }
      .card__details--list-item:not(:last-child) {
        border-bottom: 1px solid rgba(128, 128, 128, 0.2); }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff; }
    .card__cta--only {
      font-size: 2rem;
      font-weight: 500; }
    .card__cta--price {
      font-size: 5rem;
      font-weight: 200; }
  @media screen and (max-width: 56.25em) {
    .card {
      height: auto;
      cursor: pointer; }
      .card__side {
        position: relative;
        height: auto;
        padding-bottom: 5rem;
        border-radius: .5rem; }
        .card__side--back {
          margin-top: -18%;
          -webkit-clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
          transform: rotateY(0deg); }
          .card__side--back-1 {
            background-image: linear-gradient(to right bottom, #a35fca, #661396); }
          .card__side--back-2 {
            background-image: linear-gradient(to right bottom, #ff7300, #e6a904); }
          .card__side--back-3 {
            background-image: linear-gradient(to right bottom, #94adff, #191cdf); }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card__cta {
        position: relative;
        text-transform: uppercase;
        color: #fff;
        top: 0%;
        left: 0%;
        transform: translate(0%);
        padding: 8rem 0; }
        .card__cta--only {
          font-size: 1.7rem;
          font-weight: 500; }
        .card__cta--price {
          font-size: 4.5rem;
          font-weight: 200; } }

.story {
  width: 75%;
  margin: 7rem auto;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  border-radius: 5px;
  cursor: pointer; }
  @media screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 6rem; } }
  @media screen and (max-width: 37.5em) {
    .story {
      padding: 3rem;
      transform: skewX(0deg); } }
  .story__figure {
    height: 13rem;
    width: 13rem;
    float: left;
    background: white;
    shape-outside: circle(50%);
    clip-path: circle();
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media screen and (max-width: 37.5em) {
      .story__figure {
        transform: translateX(-1.5rem) skewX(0deg); } }
    .story__figure--image {
      height: 100%;
      transform: scale(1.3);
      transition: .3s all;
      backface-visibility: hidden; }
    .story__figure--figcaption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      opacity: 0;
      font-size: 1.2rem;
      font-weight: bolder;
      color: #fff;
      white-space: nowrap;
      transition: .3s all;
      backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg);
    margin-top: -1.5rem; }
    @media screen and (max-width: 37.5em) {
      .story__text {
        transform: skewX(0deg); } }
    .story__text--title {
      font-size: 1.8rem;
      color: #666;
      margin-bottom: 1rem;
      font-weight: 800; }
    .story__text--paragraph {
      font-size: 1.3rem;
      color: rgba(0, 0, 0, 0.5);
      font-weight: 500; }
  .story:hover .story__figure--figcaption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__figure--image {
    filter: blur(2px) brightness(90%);
    transform: scale(1); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0.2; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.book {
  height: 51rem;
  background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: .4rem; }
  @media screen and (max-width: 56.25em) {
    .book {
      height: 55rem;
      background-image: linear-gradient(110deg, rgba(255, 255, 255, 0.7) 100%, transparent 0%), url("../img/nat-10.jpg"); } }
  .book__form {
    width: 50%;
    float: left;
    padding: 3rem; }
    @media screen and (max-width: 56.25em) {
      .book__form {
        width: 100%;
        padding: 5rem; } }

.form__control:not(:last-child) {
  margin: 2rem 0; }

.form__input {
  font-size: 1.4rem;
  font-family: inherit;
  color: #666;
  padding: 1.5rem 1rem;
  border: none;
  border-radius: 2px;
  width: 75%;
  border-bottom: 4px solid transparent;
  display: block;
  transition: .2s all;
  font-weight: 600; }
  @media screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    border-bottom: 4px solid #55c57a; }
    .form__input:focus:invalid {
      outline: 2px solid red; }
  .form__input:input-placeholder {
    color: red; }

.form__label {
  font-size: 1.2rem;
  font-family: inherit;
  color: inherit;
  margin-left: .8rem;
  margin-top: .8rem;
  opacity: 1;
  visibility: visible;
  transform: translateY(0rem);
  display: block;
  transition: .5s all;
  font-weight: 600; }

.form__input:placeholder-shown + .form__label {
  font-size: 1.4rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-3rem); }

.form__radio {
  display: none; }
  .form__radio:checked ~ .button-radio::after {
    opacity: 1; }

.radio__button {
  display: inline-block;
  width: 49%;
  font-size: 1.6rem;
  position: relative;
  padding-left: 3rem; }

.button-radio {
  display: block;
  width: 3rem;
  height: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  position: absolute;
  top: -.2rem;
  left: 0; }
  .button-radio::after {
    content: '';
    width: 70%;
    height: 70%;
    background: #55c57a;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0; }

.form__radio--label {
  padding: 2rem;
  cursor: pointer; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999999;
  opacity: 0;
  visibility: hidden;
  transition: .3s all; }
  @media screen and (max-width: 93.75em) {
    .popup {
      background: red; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1); }
  .popup__close {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 2rem;
    color: #292828; }
  .popup__content {
    width: 75%;
    height: auto;
    max-height: 53rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0);
    transition: .6s all; }
    @media screen and (max-width: 93.75em) {
      .popup__content {
        flex-wrap: wrap; } }
  .popup__left {
    flex: 2; }
    @media screen and (max-width: 93.75em) {
      .popup__left {
        flex: 0; } }
  .popup__right {
    flex: 4;
    align-self: center;
    padding: 4rem; }
  .popup__image {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 3rem;
    column-rule: 2px solid #dadada;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
    @media screen and (max-width: 93.75em) {
      .popup__text {
        column-count: 1;
        font-size: 1.7rem; } }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem;
  margin-top: -20vh; }
  @media screen and (max-width: 56.25em) {
    .section-about {
      padding: 25rem 0rem; } }

.section-features {
  background-image: linear-gradient(rgba(85, 197, 122, 0.8), rgba(2, 182, 53, 0.8)), url("../img/nat-1-large.jpg");
  background-position: top;
  background-size: cover;
  margin-top: -10rem;
  padding: 23rem 0;
  transform: skewY(-5deg); }
  .section-features > * {
    transform: skewY(5deg); }
    @media screen and (max-width: 56.25em) {
      .section-features > * {
        transform: skewY(3deg); } }
  @media screen and (max-width: 56.25em) {
    .section-features {
      padding: 20rem 0rem;
      transform: skewY(-3deg); } }

.section-prices {
  padding: 20rem 0 25rem 0;
  background: #eee;
  margin-top: -10rem; }
  @media screen and (max-width: 56.25em) {
    .section-prices {
      padding: 20rem 0rem; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media screen and (max-width: 56.25em) {
    .section-stories {
      padding: 15rem 0rem; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #55c57a, #02b635); }
  @media screen and (max-width: 56.25em) {
    .section-book {
      padding: 12rem 0rem; } }

.footer-home {
  padding: 15rem 0rem;
  background: #292828; }
  @media screen and (max-width: 56.25em) {
    .footer-home {
      padding: 8rem 0; } }
  .footer-home--logo {
    width: 16rem;
    margin: 0rem  auto 5rem auto; }
    .footer-home--logo img {
      height: 100%; }
      @media screen and (max-width: 56.25em) {
        .footer-home--logo img {
          margin-left: -2rem; } }
    @media screen and (max-width: 56.25em) {
      .footer-home--logo {
        margin: 3rem auto; } }
  .footer-home .footer__links--list, .footer-home .footer__info {
    border-top: 1px solid #666;
    padding: 2rem 0;
    color: white;
    font-size: 1.1rem; }
  .footer-home .footer__links--list {
    text-align: center; }
  .footer-home .footer__links--list .footer__link {
    text-transform: uppercase;
    font-size: 1.6rem;
    margin: 0 .3rem;
    color: white; }

.header {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(to right, rgba(85, 197, 122, 0.7), rgba(132, 241, 112, 0.8)), url(../img/hero.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header .logo {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    .header .logo .logo-img {
      height: 3.5rem; }
  .header .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    text-align: center; }
    .header .text-box .title {
      margin-bottom: 8rem; }
    .header .text-box .title-primary, .header .text-box .title-secondary {
      display: block;
      color: #fff;
      text-transform: uppercase; }
    .header .text-box .title-primary {
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 2.5rem;
      animation: 1s fadeToLeft ease; }
      @media screen and (max-width: 37.5em) {
        .header .text-box .title-primary {
          letter-spacing: 1.1rem;
          font-size: 5.5rem; } }
    .header .text-box .title-secondary {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 1.36rem;
      animation: 1s fadeToRight ease; }
      @media screen and (max-width: 37.5em) {
        .header .text-box .title-secondary {
          letter-spacing: .8rem;
          font-size: 1.8rem; } }

.row {
  max-width: 114rem;
  width: 100%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  @media screen and (max-width: 56.25em) {
    .row {
      max-width: 80rem;
      padding: 0 2rem; } }
  @media screen and (max-width: 37.5em) {
    .row {
      max-width: 100%;
      padding: 0 1rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
    @media screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 3rem;
        padding: 0rem 8rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 * 4rem) / 4) + 4rem); }

.feature__box {
  padding: 3rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: .3s all;
  cursor: pointer; }
  .feature__box__icon {
    font-size: 7rem;
    display: inline-block;
    background: linear-gradient(to right, #55c57a, #84f170);
    -webkit-background-clip: text;
    color: transparent; }
  .feature__box__text {
    font-size: 1.2rem; }
  .feature__box:hover {
    transform: scale(1.1) translateY(-1rem);
    box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.4); }

.navigation__checkbox {
  display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    display: block;
    opacity: 1; }
  .navigation__checkbox:checked + .navigation__button__icon {
    color: transparent; }

.navigation__button {
  position: fixed;
  top: 6rem;
  right: 6rem;
  width: 6rem;
  height: 6rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.4);
  z-index: 1000;
  cursor: pointer; }
  @media screen and (max-width: 56.25em) {
    .navigation__button {
      top: 5rem;
      right: 5rem; } }
  @media screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  .navigation__button__icon {
    position: relative;
    margin-top: 3rem; }
    .navigation__button__icon, .navigation__button__icon::after, .navigation__button__icon::before {
      width: 3rem;
      height: 2px;
      background-color: gray;
      display: inline-block;
      left: 25%;
      transition: .3s all; }
    .navigation__button__icon::after, .navigation__button__icon::before {
      content: '';
      position: absolute;
      left: 0; }
    .navigation__button__icon::before {
      top: -.8rem; }
    .navigation__button__icon::after {
      top: .8rem; }

.navigation__button:hover .navigation__button__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__button__icon::after {
  top: 1rem; }

.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  width: 5rem;
  height: 5rem;
  background-image: radial-gradient(#84f170 0%, #55c57a 50%);
  border-radius: 50%;
  z-index: 500;
  transition: 0.4s all cubic-bezier(0.86, 0, 0.7, 0); }
  @media screen and (max-width: 56.25em) {
    .navigation__background {
      top: 5.5rem;
      right: 5.5rem; } }
  @media screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 750;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
  transition: .3s all;
  animation: fade 1s ease-in-out; }

@keyframes fade {
  0% {
    transform: translateX(-5rem);
    opacity: .33; }
  50% {
    transform: translateX(8rem); } }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 750;
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 2rem;
  padding: 2rem;
  display: block;
  color: #fff;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: .3s all;
  text-transform: uppercase; }

.navigation__link:hover, .navigation__link:active {
  color: #02b635;
  background-position: 100%;
  transform: translateX(2rem); }

.navigation__link span {
  font-size: 2.5rem; }

.navigation__checkbox:checked + .navigation__button .navigation__button__icon {
  background: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__button__icon::before {
  top: 0;
  transform-origin: center;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__button__icon::after {
  top: 0;
  transform-origin: center;
  transform: rotate(-135deg); }
