$text-white: #fff;
$text-gray: #666;

$color-primary: #55c57a;
$color-primary-light: #84f170;
$color-primary-dark:#02b635;
$color-gray: rgb(218, 218, 218);
$color-gray-light-1:#f7f7f7 ;
$color-black: #000;
$color-dark-gray: rgb(41, 40, 40);

$default-font-size: 1.6rem;

$gutter-vertical: 4rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 4rem;
$grid-width: 114rem;