.story{
    width: 75%;
    margin: 7rem auto;
    background: rgba($text-white,0.7);
    box-shadow: 0 1rem 4rem rgba($color-black,0.3);
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
    border-radius: 5px;
    cursor: pointer;
    
    &__figure{
        height: 13rem;
        width: 13rem;
        float: left;
        background: white;
        shape-outside: circle(50%);
        clip-path: circle();
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        
        &--image{
            height: 100%;
            transform: scale(1.3);
            transition: .3s all;
            backface-visibility: hidden;
        }
        &--figcaption{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,50%);
            opacity: 0;
            font-size: 1.2rem;
            font-weight: bolder;
            color: $text-white;
            white-space: nowrap;
            transition: .3s all;
            backface-visibility: hidden;
        }
        
    }
    &__text{
        transform: skewX(12deg);
        margin-top: -1.5rem;
        &--title{
            font-size: 1.8rem;
            color: $text-gray;
            margin-bottom: 1rem;
            font-weight: 800;
        }
        &--paragraph{
            font-size: 1.3rem;
            color: rgba($color-black,0.5);
            font-weight: 500;
        }
    }
    &:hover &__figure--figcaption{
        transform: translate(-50%,-50%);
        opacity: 1;
    }
    &:hover &__figure--image{
        filter: blur(2px) brightness(90%);
        transform: scale(1);
    }
}
