.u-text-center{ text-align: center;}

.u-mb-xs{ margin-bottom: 1rem;}
.u-mb-small{ margin-bottom: 2rem;}
.u-mb-medium{ margin-bottom: 3rem;}
.u-mb-large{ margin-bottom: 8rem;}

.u-mt-xs{ margin-top: 1rem;}
.u-mt-small{ margin-top: 3rem;}
.u-mt-medium{ margin-top: 4rem;}
.u-mt-large{ margin-top: 8rem;}

.u-position-relative{
    position: relative;
}

.u-center-box{
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}